{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-4">
        <h1>Handlebars</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum assumenda inventore aperiam iste vitae
            quae quos dolore adipisci neque dolores! Rerum, incidunt! Soluta, eum voluptatum dicta atque totam similique
            aliquid.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/handlebars_logo.png" class="img-thumbnail" alt="Powered by handlebars">
    </div>
</div>

{{> footer }}